h1 {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
}
.lp_button {
  margin: 2em;
  padding: 1em;
  text-align: center;
  width: 100%;
  margin-top: 0.5em;
}
img {
  border-radius: 50%;
}