<div class="container">
  <div>
    <h1>My Github User Profile</h1>
    <hr>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="avatar"><img src="{{user.avatar_url}}"></div>
      <div class="repo-details">
        <h3>Flokots</h3>
        <p>Created on: {{user.created_at | date}}, {{user.created_at | dateCount}} days ago</p>
        <p>Last updated on : {{user.updated_at | date}}, {{user.updated_at | dateCount}} days ago</p>
        <p>Followers: {{user.followers}}</p>
        <p><a href="{{user.html_url}}" target="_blank">Github User Profile</a></p>
        <p>Repositories: {{user.public_repos}}</p>
      </div>
      <div class="lp_button">
        <button class="btn btn-primary" (click)="goToUrl()">Search Users and repos</button>
      </div>
    </div>
    <div class="col-md-6">
      <div>
        <h4 class="text-center">Repositories</h4>
        <div class="repo" *ngFor="let reposDetail of reposDetails; let i = index">
          <p class="text-center"><b>{{reposDetail.name}}</b></p>
          <p>Description: {{reposDetail.description}}</p>
          <p appCloneHighlight>Clone Url: {{reposDetail.clone_url}}</p>
          <p>Forks: {{reposDetail.forks_count}}</p>
          <p>Created On: {{reposDetail.created_at | date}}, {{reposDetail.created_at | dateCount}} days ago</p>
          <p>Last Updated On: {{reposDetail.updated_at | date}}, {{reposDetail.updated_at | dateCount}} days ago</p>
        </div>
      </div>
    </div>
  </div>
</div>