<div class="container">
  <div>
    <h1>My Github User Profile</h1>
    <hr>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="avatar"><img src="{{user.avatar_url}}"></div>
    </div>
    <div class="col-md-6">
      <p>Flokots</p>
      <p>Created on: {{user.created_at | date}}</p>
      <p>Last updated on : {{user.updated_at | date}}</p>
      <p>Followers: {{user.followers}}</p>
      <p><a href="{{user.html_url}}" target="_blank">Github User Profile</a></p>
      <p>Repositories: {{user.public_repos}}</p>

      <div class="repo">
        <h4>Repositories</h4>
        <p>Name:</p>
        <p>Description: </p>
        <p>Clone Url: </p>
        <p>Forks: </p>
        <p>Created On: </p>
        <p>Last Updated On: </p>
      </div>
  
    </div>
  </div>
  <div class="lp_button">
    <button class="btn btn-primary">Search Users and repos</button>
  </div>
</div>