<div class="container">
  <form (ngSubmit)="submitSearchName()" #searchForm="ngForm">
    <h3 class="text-center">Search Form</h3>
    <div class="form-group">
      <label for="searchname">User or repository</label>
      <input type="text" class="form-control" id="searchname"
      [(ngModel)]="searchName" name="searchname" #searchname="ngModel" required>
      <div [hidden]="searchname.valid || searchname.pristine" class="alert alert-danger">
        <p>User or Repository is required</p>
      </div>
    </div>
    {{searchName}}
    <div class="search-button">
      <button class="btn btn-primary">Search</button>
    </div>
  </form>
</div>