form {
  color: #76E5FC;
  padding: 2em;
  margin: 2em;
  background-image: url(../../../assets/github.jpg);
}
.form-text {
  color: #76E5FC
}
h1 {
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-variant: small-caps;
}
.search-button {
  margin-top: 1em;
  text-align: center;
}
